<div *ngIf="event">
  <h2>Event Details</h2>
  <div><span>id: </span>{{event.id}}</div>
  <div>
    <label>Name: {{event.name}}</label><br>
    <label>Participants: {{event.participant}}</label>
  </div>
  <button (click)="signUp()">Sign Up</button>

</div>

<h1>Event Location</h1>
<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<div>
<agm-map [latitude]="lat" [longitude]="lng" [zoom] = "zoom">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>

</agm-map>

</div>
