<label id="testid" mat-raised-button href="javascript:void(0);">view event</label>

<label id="testid2" mat-raised-button href="javascript:void(0);">Organization</label>

<label id="demo" mat-raised-button href="javascript:void(0);">description box</label>

<h1> Sign up</h1>

<div>
    <form>
        <label for="name">name</label>
        <input type="text" id="name" name="firstname" placeholder="First Name Last Name">
        
        <label for="email">Email</label>
        <input type="text" id="email" name="email" placeholder="example@wisc.edu">
        
        <label for="password">Password</label>
        <input type="text" id="password" name="password" placeholder="">
        
        <label for="zipcode">Zip Code</label>
        <input type="text" id="zipcode" name="zipcode" placeholder="00000">
    
        <input type="submit" value="Sign up">
    </form>
</div>