<div style="margin-bottom: 80px">
    <ul>
    <li class = "icon"><a routerLink="/"><img src="https://i.imgur.com/pY7oNOa.png" alt="Voluntrain" width="119" height="45"></a></li>

    <li class="search"><input type="text" placeholder="Search..."></li>

    <li class= "pagelink" ><a routerLink="/">Sign Out</a></li>
    <li class= "pagelink" ><a routerLink="/login">Log In</a></li>
    <li class= "pagelink" ><a routerLink="/create-account">Create Account</a></li>
    <li class= "pagelink" ><a routerLink="/create-org">Create an Organization</a></li>
    </ul>
</div>
