
<!--
<div style="margin-bottom: 80px">
    <ul>
    <li class = "icon"><a routerLink="/"><img src="https://i.imgur.com/pY7oNOa.png" alt="Voluntrain" width="119" height="45"></a></li>
    <li class="pagelink" *ngIf="(isLoggedIn$ | async)" style="float:right"><a routerLink="/myProfile">My profile</a></li>
    <li class="pagelink" *ngIf="isLoggedIn$ | async" style="float:right"><a routerLink="/logout">Sign Out</a></li>
    <li class="pagelink" *ngIf="!(isLoggedIn$ | async)" style="float:right"><a routerLink="/login">Log In</a></li>
    <li class="pagelink" *ngIf="!(isLoggedIn$ | async)" style="float:right"><a routerLink="/create-account">Create Account</a></li>
    <li class="pagelink" *ngIf="(isLoggedIn$ | async)" style="float:right"><a routerLink="/create-org">Create an Organization</a></li>
    </ul>
</div>
-->
<mat-toolbar class="navbar" color="primary">
    <mat-toolbar-row>
        <span style="margin-right:10px"><a routerLink="/"><img src="https://i.imgur.com/pY7oNOa.png" alt="Voluntrain" width="119" height="45"></a></span>
        <button class="navbar-btn" routerLink="/" mat-raised-button color="accent">Home</button>  
        <span class="spacer"></span>
        <button class="navbar-btn" routerLink="/create-account" *ngIf="!(isLoggedIn$ | async)" mat-raised-button color="accent">Create Account</button>  
        <button class="navbar-btn" routerLink="/login" *ngIf="!(isLoggedIn$ | async)" mat-raised-button color="accent">Login</button>
        <button class="navbar-btn" routerLink="/myProfile" *ngIf="(user$ | async)" mat-stroked-button>{{ (user$ | async).name }}</button>
        <span *ngIf="(isLoggedIn$ | async)">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>reorder</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button routerLink="/myProfile" mat-menu-item>
                    <mat-icon>person</mat-icon>
                    <span>My Dashboard</span>
                </button>
                <button routerLink="/create-org" mat-menu-item>
                    <mat-icon>business</mat-icon>
                    <span>Create an Organization</span>
                </button>
                <button routerLink="/logout" mat-menu-item>
                    <mat-icon>logout</mat-icon>
                    <span>Logout</span>
                </button>
            </mat-menu>
        </span>
    </mat-toolbar-row>
</mat-toolbar>