<div class="form-group">
  <h2>Login</h2>
  <form
   [formGroup]="loginForm"
   (ngSubmit)="submit()">

    <div class = "form-control">
      <label for="email">Email: </label>
      <input type="text" class="form-group" id ="email" required formControlName="email">
    </div>

    <div class = "form-control">
      <label for="password">Password: </label>
      <input type="password" class="form-group" id="password" formControlName="password">
    </div>

    <button type="submit" class="btn btn-success">Login</button>

  </form>

</div>