<h2>Log In</h2>
  <form
   [formGroup]="loginForm"
   (ngSubmit)="submit()">

      <label>Email:
      <input type="text" id ="email" placeholder="example@wisc.edu" formControlName="email">
      <div *ngIf="email.invalid && (email.touched || email.dirty)" class="error">
        Invalid email format
      </div>

       </label><br>

      <label>Password:
      <input type="password" id="password" required formControlName="password">
      <!-- <div *ngIf="password.errors.required">
        Password is required
      </div> -->
       </label><br>

    <button  type="submit" [disabled]="!loginForm.valid">Log In</button>

  </form>
  <!-- <p>
  Form Status: {{ loginForm.status }}
  </p> -->
