<div class="container" style="width:50%">
    <mat-card> 
    <mat-card-title>Create an Event</mat-card-title>
    <mat-divider></mat-divider>
    <div class="create-event-container">
        <mat-form-field>
            <input readonly matInput placeholder="Organization" value="{{ orgName }}">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Event Name</mat-label>
            <input [formControl]="eventNameFormControl" required matInput placeholder="Your event name">
            <mat-error *ngIf="eventNameFormControl.hasError('required')">
                Please enter a name for the event
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Event Description</mat-label>
            <textarea [formControl]="descriptionFormControl" required matInput placeholder="A brief description about your event..."></textarea>
            <mat-error *ngIf="descriptionFormControl.hasError('required')">
                Please enter a description for the event
            </mat-error>
        </mat-form-field>
    </div>
    <div class="muted-text">* indicates required fields</div>
    <mat-divider></mat-divider>
    <div class="footer-content">
        <button (click)="submit()" mat-raised-button color="accent">Create Event</button>
    </div>
    </mat-card>
</div>