.searchBar input[type=text] {
    float: center;
    width: 70%; 
    padding: 20px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}
form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 10px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }

  .example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
  }
  