<div>
  <div class = "username">
    <label><b>Username:</b> VolunMaster   </label>
    <i class="fas fa-edit"></i>
  </div>

  <div #description class = "bio">
    <label><b>Description:</b> About me   </label>
    <i (click)="testFunction()" class="fas fa-edit"></i>
  </div>

  <div class = "events" contenteditable="true">
   <p><b>Events signed up for:</b> <i class="fas fa-edit"></i></p> 
    <p>1. xkdb</p>
    <p>2. wer</p>
    <p>3. woet</p>
    <p>4. soiy</p>
                       
  </div>

</div>
